<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pivotal.android.ttc">

    <permission
        android:name="io.pivotal.android.push.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="io.pivotal.android.push.demo.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.TTCApplication"
        android:icon="@drawable/ic_ttc_launcher"
        android:logo="@drawable/ic_ttc_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <activity
            android:name=".app.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.AuthenticationActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:noHistory="true"/>

        <activity android:name=".auth.AuthorizationActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="identity" />
                <data android:scheme="io.pivotal.android.ttc" />
                <data android:pathPrefix="/oauth2callback" />
            </intent-filter>
        </activity>

        <activity android:name=".notification.list.NotificationsActivity" />

        <activity android:name=".notification.add.NotificationAddActivity"
            android:label="@string/select_stop_and_time"/>

        <activity android:name=".route.RoutesActivity"
            android:label="@string/select_route"/>

        <activity android:name=".stop.StopsActivity"
            android:label="@string/select_stop"/>

        <receiver
            android:name="io.pivotal.android.push.receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="io.pivotal.android.ttc" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.TTCPushService"
            android:exported="false" />
    </application>

</manifest>
